/* 'standard' css for mobile-first site */

p {
  align-self: center;
}

.hero {
  display: flex;
  justify-content: center;
  height: 150px;
}

.article {
  display: flex;
  justify-content: center;
  height: 125px;
}

.container {
  display: flex;
  border-top: none;
  border-bottom: none;
}

.subSection {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 250px;
}

header {
  display: flex;
  justify-content: center;
  height: 75px;
}

footer {
  display: flex;
  justify-content: center;
  height: 80px;
}

/* media query for larger screen */
@media screen and (min-width: 768px) {
  body {
    width: 960px;
  }

  header {
    height: 100px;
  }

  footer {
    height: 150px;
    width: 760px;
    float: left;
  }
  .hero {
    float: left;
    width: 200px;
    height: 600px;
  }
  .article {
    float: left;
    width: 380px;
    height: 200px;
  }

  .container {
    float: left;
    border: none;
  }

  .subSection {
    width: 190px;
    height: 250px;
  }

  .spacer {
    display: none;
  }
}
